/dist
/build
/.docz
/node_modules
*.tgz
*.zip
.cache
*.log
packages/**/dist
packages/**/es
packages/**/lib
packages/**/types
packages/**/node_modules
packages/**/.vscode
packages/**/*.log
.umi
.vscode
.idea
